<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="form-style-3">
    <table class="add_Product" border="1" align="center">
        <tr>
            <td th:text="#{bill.num}"></td>
            <td th:text="${bill.id}"></td>
        </tr>
        <tr>
            <td th:text="#{cashbox.number}"></td>
            <td th:text="${bill.cashBox.cashBoxNumber.id}"></td>
        </tr>
        <tr>
            <td th:text="#{cashiers.name}"></td>
            <td th:text="${bill.cashier.fullName}"></td>
        </tr>
        <tr>
            <td th:text="#{date}"></td>
            <td th:text="${bill.currentDate}"></td>
        </tr>
    </table>
    <br>
    <table border="1" align="center" class="add_Product">
        <tr>
            <td th:text="#{product.id}"></td>
            <td th:text="#{amount}"></td>
            <td th:text="#{price}"></td>
        </tr>



            <tr th:each="billBody : ${billBodies}">
                <td th:text="${billBody.product.id}"></td>
                <td th:text="${billBody.currentAmount}"></td>
                <td th:text="${billBody.currentPrice}"></td>
            </tr>


        <tfoot>
        <td colspan="3" th:text="#{total}"></td>
        <td th:text="${bill.totalPrice}"></td>
        </tfoot>
    </table>
    <br>
    <table align="center">
        <tr>
            <td>
                <form method="get" action="/cashier/addProductByCode"><input type="submit" th:value="#{add.code}"></form>
            </td>
            <td>
                <form method="get" action="/cashier/addProductByName"><input type="submit" th:value="#{add.name}"></form>
            </td>
        </tr>
    </table>
    <br>
    <form method="post" action="/cashier/closeBill" align="center">
        <input type="submit" name="close" th:value="#{close.bill}">
    </form>
</div>
</body>
</html>