<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}" th:e>
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <meta charset="utf-8"/>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <ul>
        <li class="lang"><a  href="/login?lang=ru" ><input type="submit" name="ru" value="RU"></a></li>
        <li class="lang"><a  href="/login?lang=en" ><input type="submit" name="en" value="EN"></a></li>
    </ul>
</header>
</body>
</html>