<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="form-style-2">
    <div class="form-style-2-heading">
        Регистрация новой кассы
    </div>
    <form method="post" action="/newCashBox">
        <label for="number">Номер кассы
            <input class="input-field" type="number" step="1" id="number" name="number">
        </label>
        <input type="submit" th:value="#{submit}">
        <br>
    </form>
</div>
</body>
</html>