<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="form-style-3">

    <div class="form-style-2-heading" th:text="#{product.list}"/>
    <table class="products" border="1">
        <tr>
            <th>ID</th>
            <th th:text="#{name}">Name</th>
            <th th:text="#{code}">Code</th>
            <th th:text="#{amount}">Amount</th>
            <th th:text="#{measure}">Measure</th>
            <th th:text="#{price}">Price</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.code}"></td>
            <td th:text="${product.amount}"></td>
            <td>
                <span th:if="${product.measure.name() == 'UNIT'}" th:text="#{UNIT}"/>
                <span th:if="${product.measure.name()== 'KILOGRAMS'}" th:text="#{KILOGRAMS}"/>
            </td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>
    <br/>
    <form method="get" action="/productObserver">
        <input type="submit" th:value="#{back}">
    </form>
    <form method="get" action="/addProduct">
        <input type="submit" th:value="#{add.product}">
    </form>
</div>
</body>
</html>