<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="form-style-2">
    <form class="alert-danger" id="alert">
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="#{wrong.username}">недопустимое имя пользователя</div>
        <div class="alert alert-danger" role="alert" th:if="${isUser}" th:text="#{is.user}">пользователь с таким именем уже существует</div>
    </form>
    <div class="form-style-2-heading" th:text="#{sign.up}" />
    <form method="post" action="/signUp">
        <table>
            <tr>
                <td><label for="username" th:text="#{username}"></label></td>
                <td align="right"><input class="input-field" type="text" id="username" name="username"></td>
            </tr>
            <tr>
                <td><label for="password" th:text="#{password}"></label></td>
                <td><input class="input-field" type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td><label for="password_confirm" th:text="#{confirm.password}"></label></td>
                <td><input class="input-field" type="password" id="password_confirm" name="password_confirm"></td>
            </tr>
            <tr>
                <td><label for="full-name" th:text="#{full.name}"></label></td>
                <td><input class="input-field" type="text" id="full-name" name="fullName"></td>
        </table>
        <script type="text/javascript">
            window.onload = function () {
                document.getElementById("password").onchange = validatePassword;
                document.getElementById("password_confirm").onchange = validatePassword;
            }

            function validatePassword() {
                var pass2 = document.getElementById("password_confirm").value;
                var pass1 = document.getElementById("password").value;
                if (pass1 != pass2)
                    document.getElementById("password_confirm").setCustomValidity("Passwords Doesn't Match");
                else
                    document.getElementById("password_confirm").setCustomValidity('');
            }
        </script>
        <br>
        <input type="submit" th:value="#{sign.up}">
        <br>
    </form>
</div>
</body>
</html>
